h1 {
    margin-bottom: 20px;
}

.serie{
    position: relative;
    background-color: rgba(126, 57, 57, 0.216);
    color: #fff;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(59, 53, 53);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.2em;
    text-decoration: none;
    transition: all 0.3s;
  
    height: 200px;
    width: 400px;
    overflow: hidden;
}
.serie:hover{
    background-color: rgba(0, 0, 0, 0.436);
    box-shadow: 0 0 10px rgb(59, 53, 53);
    color: rgba(255, 255, 255, 0.097);
    transform: scale(1.05);
}

.serie .description{
    position: absolute;
    top: 100%;
    padding: 1em;
    height: 200px;
    overflow: auto;
    transition: all 0.3s;
}

.serie:hover .description{
    top: 0;
    color :#fff !important;
    z-index: 2;
}

.serie p{
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.411);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    font-weight: 500;
    transition: all 0.3s;
    z-index: 1;
}

.serie ._thumbnail{
    background-image: url('@/assets/img/loading.gif');
    filter: brightness(0.7);
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s;
}

.serie:hover img{
    filter: brightness(0.2);
}
@media screen and (max-width: 500px){
    .grid{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}